<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.small.mapper.project.OverdueItemMapper" >
  <select id="selectOverduePrincipalSum" resultType="Double" parameterType="Long">
    select sum(o.deduction_charge + o.advance_charge) as overduePrincipalSum
    from t_overdue_item o inner join t_repayment_item i on o.repayment_item_id = i.id
    where o.project_id = #{projectId} and i.repayment_status = 3
  </select>

</mapper>