<!DOCTYPE html>
<html class="no-js"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
  <meta charset="UTF-8">
  <title>奇妙茶馆</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="image/png" th:href="${urlPath}+'/i/favicon.ico'">
  <!--<link rel="stylesheet" th:href="${urlPath}+'/css/amazeui.css'"/>-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/amazeui/2.7.2/css/amazeui.min.css"/>
  <link rel="stylesheet" th:href="${urlPath}+'/css/detailed.min.css'"/>
</head>
<body>
<header class="am-topbar">
  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
          data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
          class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav">
      <li><a th:href="${urlPath}+'/index.html'">店面</a></li>
      <li class="am-active"><a href="#">茶桌</a></li>
    </ul>

    <form class="am-topbar-form am-topbar-left am-form-inline am-topbar-right" role="search">
      <div class="am-form-group">
        <input type="text" class="am-form-field am-input-sm" placeholder="搜索文章">
      </div>
      <button type="submit" class="am-btn am-btn-default am-btn-sm">搜索</button>
    </form>

  </div>
</header>

<div class="am-g am-g-fixed blog-g-fixed">
  <div class="am-u-md-12">
    <article class="blog-main">
      <ul class="am-list" th:each ="detailedVo : ${detailedVoList}" >
        <li><a th:href="${urlPath}+'/details'+${detailedVo.frontHtmlId}+'.html'" th:target="${detailedVo.htmlName}"><span th:text="${detailedVo.htmlName}"></span><span class="am-badge am-badge-warning" th:text="${#dates.format(detailedVo.detailedDate, 'yyyy-MM-dd')}" >2014/06/17</span></a></li>
      </ul>
    </article>
  </div>
</div>

<footer class="blog-footer">
  <p>奇妙茶馆<br/>
    <small>©奇妙茶馆</small>
    <small><a style="color:#666" target="beian" href="http://beian.miit.gov.cn">粤ICP备2020098974号</a></small>
  </p>
</footer>
<!--<script th:src="${urlPath}+'/js/amazeui.ie8polyfill.min.js'"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/amazeui/2.7.2/js/amazeui.ie8polyfill.min.js"></script>
<!--<script th:src="${urlPath}+'/js/jquery.min.js'"></script>-->
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<!--<script th:src="${urlPath}+'/js/amazeui.min.js'"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/amazeui/2.7.2/js/amazeui.min.js"></script>
<script th:src="${urlPath}+'/js/baidutuiguan.min.js'"></script>
</body>
</html>
