<!DOCTYPE html>
<html class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head lang="en">
  <meta charset="UTF-8">
  <title>奇妙茶馆</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="alternate icon" type="image/png" th:href="@{/i/favicon.ico}">
  <link rel="stylesheet" th:href="@{/css/amazeui.css}"/>
  <style>
    @media only screen and (min-width: 1200px) {
      .blog-g-fixed {
        max-width: 1200px;
      }
    }

    .blog-main {
      padding: 20px 0;
    }

    .am-list > li {
      border: 0;
    }
    .blog-meta a {
      color: #27ae60;
    }

    .blog-pagination a {
      font-size: 1.4rem;
    }

    .blog-team li {
      padding: 4px;
    }

    .blog-team img {
      margin-bottom: 0;
    }

    .blog-content img,
    .blog-team img {
      max-width: 100%;
      height: auto;
    }

    .blog-footer {
      padding: 10px 0;
      text-align: center;
    }
  </style>
</head>
<body>
<header class="am-topbar">
  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
          data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
          class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav">
      <li><a th:href="@{/blog}">店面</a></li>
      <li class="am-active"><a href="#">茶桌</a></li>
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          菜单 <span class="am-icon-caret-down"></span>
        </a>
        <ul class="am-dropdown-content">
          <li class="am-dropdown-header">标题</li>
          <li><a href="#">关于我们</a></li>
          <li><a href="#">关于字体</a></li>
          <li><a href="#">TIPS</a></li>
        </ul>
      </li>
    </ul>

    <form class="am-topbar-form am-topbar-left am-form-inline am-topbar-right" role="search">
      <div class="am-form-group">
        <input type="text" class="am-form-field am-input-sm" placeholder="搜索文章">
      </div>
      <button type="submit" class="am-btn am-btn-default am-btn-sm">搜索</button>
    </form>

  </div>
</header>

<div class="am-g am-g-fixed blog-g-fixed">
  <div class="am-u-md-12">
    <article class="blog-main">
      <ul class="am-list">
        <li><a th:href="@{/blog/details/c}" th:target="details">Google fonts 的字體（sans-serif 篇）<span class="am-badge am-badge-warning">2014/06/17</span></a></li>
        <li><a th:href="@{/blog/details/c}" th:target="details">[but]服貿最前線？－再訪桃園機場<span class="am-badge am-badge-danger">2014/06/17</span></a></li>
        <li><a th:href="@{/blog/details/c}" th:target="details">到日星鑄字行學字型<span class="am-badge am-badge-success">2014/06/17</span></a></li>
        <li><a th:href="@{/blog/details/c}" th:target="details">glyph font vs. 漢字（上）<span class="am-badge am-badge-secondary">2014/06/17</span></a></li>
        <li><a th:href="@{/blog/details/c}" th:target="details">浙江民間書刻體上線<span class="am-badge am-badge-primary">2014/06/17</span></a></li>
        <li><a th:href="@{/blog/details/c}" th:target="details">[極短篇] Android v.s iOS，誰的字體好讀？<span class="am-badge">2014/06/17</span></a></li>
      </ul>
    </article>

    <ul class="am-pagination blog-pagination">
      <li class="am-pagination-prev"><a href="">&laquo; 上一页</a></li>
      <li class="am-pagination-next"><a href="">下一页 &raquo;</a></li>
    </ul>
  </div>
</div>

<footer class="blog-footer">
  <p>奇妙茶馆<br/>
    <small>©奇妙茶馆</small>
    <small>©奇妙茶馆</small>
  </p>
</footer>
<script th:src="@{/js/amazeui.ie8polyfill.min.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/amazeui.min.js}"></script>

</body>
</html>
