<!DOCTYPE html>
<html class="no-js"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
  <meta charset="UTF-8">
  <title>奇妙茶馆</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="alternate icon" type="image/png" th:href="@{/i/favicon.ico}">
  <link rel="stylesheet" th:href="@{/css/amazeui.css}"/>
  <link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>
<body>
<header class="am-topbar">
  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
          data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
          class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav">
      <li class="am-active"><a href="#">店面</a></li>
      <li><a th:href="@{/blog/detailed}">茶桌</a></li>
    </ul>

    <form class="am-topbar-form am-topbar-left am-form-inline am-topbar-right" role="search">
      <div class="am-form-group">
        <input type="text" class="am-form-field am-input-sm" placeholder="搜索话题">
      </div>
      <button type="submit" class="am-btn am-btn-default am-btn-sm">搜索</button>
    </form>

  </div>
</header>

<div class="am-g am-g-fixed blog-g-fixed">
  <div class="am-u-md-12">
    <article class="blog-main">
      <h3 class="am-article-title blog-title">
        <a th:href="@{/blog/detailed}">Spring Boot项目篇</a>
      </h3>

      <h4 class="am-article-meta blog-meta">最新修改时间：2014/06/17</h4>

      <div class="am-g blog-content">
        <div class="am-u-lg-7">
          <p>对于Spring Boot学习记录篇，按照下面教程可以实现0基础学习。</p>
          <p>Spring Boot是由Pivotal团队提供的全新框架，其设计目的是用来简化新Spring应用的初始搭建以及开发过程。
            该框架使用了特定的方式来进行配置，从而使开发人员不再需要定义样板化的配置。
            通过这种方式，Spring Boot致力于在蓬勃发展的快速应用开发领域(rapid application development)成为领导者。</p>
        </div>
        <div class="am-u-lg-5">
          <p><img th:src="@{/image/blog/spring-logo.gif}"></p>
        </div>
      </div>

      <div class="am-g">
        <div class="am-u-sm-12">
          <p>SpringBoot是由Pivotal团队在2013年开始研发、2014年4月发布第一个版本的全新开源的轻量级框架。
            它基于Spring4.0设计，不仅继承了Spring框架原有的优秀特性，而且还通过简化配置来进一步简化了Spring应用的整个搭建和开发过程。
            另外SpringBoot通过集成大量的框架使得依赖包的版本冲突，以及引用的不稳定性等问题得到了很好的解决。</p>
        </div>
      </div>
    </article>

    <hr class="am-article-divider blog-hr">

    <article class="blog-main">
      <h3 class="am-article-title">
        <a th:href="@{/blog/detailed}">Java记录篇</a>
      </h3>
      <h4 class="am-article-meta blog-meta">最新修改时间：2014/06/17</h4>
      </h4>
      <div class="am-g blog-content">
        <div class="am-u-lg-10">
          <p>用于记录Java设计模式还有一些比较实用的语法</p>
          <p>Java是一门面向对象编程语言，不仅吸收了C++语言的各种优点，还摒弃了C++里难以理解的多继承、指针等概念，因此Java语言具有功能强大和简单易用两个特征。
            Java语言作为静态面向对象编程语言的代表，极好地实现了面向对象理论，允许程序员以优雅的思维方式进行复杂的编程</p>
          <p>Java具有简单性、面向对象、分布式、健壮性、安全性、平台独立与可移植性、多线程、动态性等特点。
            Java可以编写桌面应用程序、Web应用程序、分布式系统和嵌入式系统应用程序等</p>
        </div>
        <div class="am-u-lg-2">
          <p><img th:src="@{/image/blog/java.gif}"></p>
        </div>
      </div>
      <div class="am-g">
        <div class="am-u-sm-12">
          <p>Java 语言是一门随时代快速发展的计算机语言程序，其深刻展示了程序编写的精髓，加上其简明严谨的结构及简洁的语法编写为其将来的发展及维护提供了保障。
            由于提供了网络应用的支持和多媒体的存取，会推动Internet和企业网络的Web的应用。
            另外，为了保持Java的增长和推进Java社区的参与，Sun公司在Java One开发者大会上宣布开放Java核心源代码，以鼓励更多的人参与到Java社团活动中。
            来自Java社团和IBM等全球技术合作伙伴两方面的支持，Java技术在创新和社会进步上继续发挥强有力的重要作用，并且随着其程序编写难度的降低使得更多专业人员将精力放置于Java语言的编写与框架结构的设计中。</p>
        </div>
      </div>
    </article>
    <hr class="am-article-divider blog-hr">

    <article class="blog-main">
      <h3 class="am-article-title"><a href="../blog/detailed" aria-invalid="true">Java面试题</a></h3>
      <h4 class="am-article-meta blog-meta">最新修改时间：2020/10/31</h4>
      <div class="am-g blog-content">
        <div class="am-u-lg-10">
          <p>个人记录的Java面试题，助力广大Java程序员在面试中过关斩将。</p>
        </div>
      </div>
    </article>
    <hr class="am-article-divider blog-hr">
  </div>
</div>
<footer class="blog-footer">
  <p>奇妙茶馆<br/>
    <small>©奇妙茶馆</small>
    <small><a style="color:#666" target="beian" href="http://beian.miit.gov.cn">粤ICP备2020098974号</a></small>
  </p>
</footer>
<script th:src="@{/js/amazeui.ie8polyfill.min.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/amazeui.min.js}"></script>
</body>
</html>
