<!doctype html>
<html class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{utils::admin_head}">
</head>
<body>
<!-- 头部功能部分 start-->
<header th:insert="~{utils::admin_header}" >
</header>
<!-- 头部功能部分 end-->

<div class="am-cf admin-main">
    <!-- 导航栏公共部分 start -->
    <div th:insert="~{utils::navigation_bar}"></div>
    <!-- 导航栏公共部分 end -->
    <!-- 内容部分 -->
    <div class="admin-content">
        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">权限管理</strong> / <small>帐号管理</small></div>
        </div>

        <div class="am-g">
            <div class="am-u-sm-12 am-u-md-3 am-form-group am-btn-toolbar">
                <div class="am-btn-group am-btn-group-xs">
                    <button type="button" class="am-btn am-btn-default" data-am-modal="{target: '#my-add-after-user'}"><span class="am-icon-plus"></span> 新增</button>
                    <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 禁用</button>
                </div>
            </div>
            <form th:action="@{/after/afterUser}" th:method="post">
                <input th:name="pageNum" th:id="pageNum" th:value="${pageContent.pageNum}" type="hidden" >
                <input th:name="pageSize" th:id="pageSize" th:value="${pageContent.pageSize}" type="hidden" >
                <div class="am-u-sm-12 am-u-md-3 am-form-group">
                    <div class="am-u-sm-4 am-u-md-3">
                        客户姓名
                    </div>
                    <div class="am-input-group am-input-group-sm">
                        <input type="text" th:name="userName" class="am-form-field" th:value="${afterUserDto.userName}">
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-3 am-form-group" >
                    <div class="am-u-sm-4 am-u-md-3">
                        是否有效
                    </div>
                    <div class="am-input-group am-input-group-sm">
                        <select th:name="userEffective" data-am-selected="{btnSize: 'sm',maxHeight: 250}">
                            <option value=" " th:selected="${afterUserDto.userEffective==null}">全部</option>
                            <option value="false" th:selected="${afterUserDto.userEffective!=null && !afterUserDto.userEffective}">有效</option>
                            <option value="true" th:selected="${afterUserDto.userEffective!=null && afterUserDto.userEffective}">无效</option>
                        </select>
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-3">
                    <div class="am-input-group am-input-group-sm">
                        <button class="am-btn am-btn-default" type="submit">搜索</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="am-g">
            <div class="am-u-sm-12">
                <table class="am-table am-table-striped am-table-hover table-main">
                    <thead>
                    <tr>
                        <th class="table-check"><input type="checkbox" /></th>
                        <th class="table-userName">帐号</th>
                        <th class="table-userEffective">是否有效</th>
                        <th class="table-abilityId">默认岗位</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each ="afterUser : ${pageContent.list}" class="table-click">
                        <td class="table-check"><input type="checkbox" th:name="afterUserId" th:value="${afterUser.id}"/></td>
                        <td class="table-userName" th:text="${afterUser.userName}">帐号</td>
                        <td class="table-userEffective" th:text="${afterUser.userEffective?'否':'是'}">是否有效</td>
                        <td class="table-abilityId" th:text="${T(com.small.constant.RedisUtilsData).getAbilityName(afterUser.abilityId)}">默认岗位</td>
                        <td>
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button class="am-btn am-btn-default am-btn-xs am-text-secondary js-update-after-user" th:value="${afterUser.id}"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                    <button class="am-btn am-btn-default am-btn-xs am-text-warning refresh-button" th:value="${afterUser.id}"><span class="am-icon-refresh"></span> 重置密码</button>
                                    <button class="am-btn am-btn-default am-btn-xs am-text-danger"><span class="am-icon-group"></span> 权限</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <footer th:insert="~{utils::page_html}"></footer>
                <hr/>
            </div>
        </div>
    </div>
    <!-- content end -->
</div>

<div class="am-popup" id="my-add-after-user">
    <div class="am-popup-inner">
        <div class="am-popup-hd">
            <h4 class="am-popup-title">添加帐号</h4>
            <span data-am-modal-close class="am-close">&times;</span>
        </div>
        <div class="am-popup-bd">
            <form action="" class="am-form" id="doc-vld-msg" data-am-validator>
                <fieldset>
                    <div class="am-form-group">
                        <label for="userName">用户名：</label>
                        <input type="text" id="userName" minlength="3"
                               placeholder="输入用户名（至少 3 个字符）" required/>
                    </div>
                    <div class="am-form-group">
                        <label for="userPassword">密码：</label>
                        <input type="password" id="userPassword" placeholder="请输入6-20位大小写.@!#$%^&*()密码" pattern="^([a-zA-Z0-9\.\@\!\#\$\%\^\&\*\(\)]){6,20}$" required/>
                    </div>

                    <div class="am-form-group">
                        <label for="userPassword2">确认密码：</label>
                        <input type="password" id="userPassword2" placeholder="请输入6-20位大小写.@!#$%^&*()密码" pattern="^([a-zA-Z0-9\.\@\!\#\$\%\^\&\*\(\)]){6,20}$" data-equal-to="#userPassword" required/>
                    </div>

                    <button class="am-btn am-btn-secondary js-after-user-submit" type="button">提交</button>
                    <button class="am-btn js-modal-close" type="button">关闭</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div class="am-popup" id="after-user-and-after-ability">
    <div class="am-popup-inner">
        <div class="am-popup-hd">
            <h4 class="am-popup-title">添加帐号</h4>
            <span data-am-modal-close class="am-close">&times;</span>
        </div>
        <div class="am-popup-bd">
            <form action="" class="am-form">
                <fieldset>
                    <div class="am-form-group">
                        <label class="am-checkbox-inline">
                            <input type="checkbox"  value="" data-am-ucheck> iPhone
                        </label>
                        <label class="am-checkbox-inline">
                            <input type="checkbox"  value="" data-am-ucheck> iMac
                        </label>
                        <label class="am-checkbox-inline">
                            <input type="checkbox"  value="" data-am-ucheck> Macbook
                        </label>
                    </div>
                    <button class="am-btn am-btn-secondary js-after-user-submit" type="button">提交</button>
                    <button class="am-btn js-modal-close" type="button">关闭</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<!--底部js引入-->
<footer th:insert="~{utils::bottom_js}"></footer>
<script>
    $(function() {
        var $modal = $('#my-add-after-user');
        var $userAbilityModal = $('#after-user-and-after-ability');
        $modal.find('.am-btn').on('click', function(e) {
            var $target = $(e.target);
            if (($target).hasClass('js-modal-close')) {
                //关闭添加窗口
                $("#userName").val('');
                $("#userPassword").val('');
                $("#userPassword2").val('');
                $modal.modal('close');
            }else if(($target).hasClass('js-after-user-submit')){
                let userName = $("#userName").val();
                let userPassword = $("#userPassword").val();
                $.post("/after/addAfterUser",{
                    userPassword:userPassword,
                    userName:userName
                },function(data){
                    if(data.success){
                        myAlert(data.ok);
                        $modal.modal('close');
                        location.reload();
                    }else{
                        myAlert(data.error);
                    }
                });
            }
        });

        /**编辑用户*/
        $(".js-update-after-user").click(function(){
            let afterUserId = $(this).val();
            $userAbilityModal.modal();
            //异步请求数据
        });

        /**重置密码*/
        $(".refresh-button").click(function(){
            let afterUserId = $(this).val();
            myPrompt("请输入需要重置的密码",function(userPassword){
                $.post("/after/resetPassword",{
                    userPassword:userPassword,
                    afterUserId:afterUserId
                },function(data){
                    if(data.success){
                        myAlert(data.ok);
                    }else{
                        myAlert(data.error);
                    }
                });
            })
        });

    });
</script>
</body>
</html>