<!doctype html>
<html class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{utils::admin_head}">
</head>
<body>
<!-- 头部功能部分 start-->
<header th:insert="~{utils::admin_header}" >
</header>
<!-- 头部功能部分 end-->

<div class="am-cf admin-main">
    <!-- 导航栏公共部分 start -->
    <div th:insert="~{utils::navigation_bar}"></div>
    <!-- 导航栏公共部分 end -->
    <!-- 内容部分 -->
    <div class="admin-content">
        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">权限管理</strong> / <small>功能管理</small></div>
        </div>

        <div class="am-g">
            <div class="am-u-sm-12 am-u-md-3 am-form-group am-btn-toolbar">
                <div class="am-btn-group am-btn-group-xs">
                    <button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button>
                    <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 禁用</button>
                </div>
            </div>
            <form th:action="@{/after/afterPower}" th:method="post">
                <input th:name="pageNum" th:id="pageNum" th:value="${pageContent.pageNum}" type="hidden" >
                <input th:name="pageSize" th:id="pageSize" th:value="${pageContent.pageSize}" type="hidden" >
                <div class="am-u-sm-12 am-u-md-3 am-form-group">
                    <div class="am-u-sm-4 am-u-md-3">
                        客户姓名
                    </div>
                    <div class="am-input-group am-input-group-sm">
                        <input type="text" th:name="authority" class="am-form-field" th:value="${afterPowerDto.authority}">
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-3 am-form-group">
                    <div class="am-u-sm-4 am-u-md-3">
                        URL地址
                    </div>
                    <div class="am-input-group am-input-group-sm">
                        <input type="text" th:name="powerUrl" class="am-form-field" th:value="${afterPowerDto.powerUrl}">
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-3">
                    <div class="am-input-group am-input-group-sm">
                        <button class="am-btn am-btn-default" type="submit">搜索</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="am-g">
            <div class="am-u-sm-12">
                <table class="am-table am-table-striped am-table-hover table-main">
                    <thead>
                    <tr>
                        <th class="table-authority">名称</th>
                        <th class="table-powerUrl">URL地址</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each ="afterPower : ${pageContent.list}" class="table-click">
                        <td class="table-authority" th:text="${afterPower.authority}">名称</td>
                        <td class="table-powerUrl" th:text="${afterPower.powerUrl}">URL地址</td>
                        <td>
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-default am-btn-xs am-text-secondary js-modal-open" th:value="${afterPower.id}"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                    <button class="am-btn am-btn-default am-btn-xs am-text-danger"><span class="am-icon-group"></span> 权限</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <footer th:insert="~{utils::page_html}"></footer>
                <hr/>
            </div>
        </div>
    </div>
    <!-- content end -->
</div>
<div class="am-popup" id="my-add-after-power">
    <div class="am-popup-inner">
        <div class="am-popup-hd">
            <h4 class="am-popup-title">功能详情</h4>
            <span data-am-modal-close class="am-close">&times;</span>
        </div>
        <div class="am-popup-bd">
            <form action="" class="am-form" id="doc-vld-msg" data-am-validator>
                <input type="hidden" id="afterPowerId"/>
                <fieldset>
                    <div class="am-form-group">
                        <label for="authority">功能名称：</label>
                        <input type="text" id="authority" minlength="3"
                               placeholder="输入用户名（至少 3 个字符）" required/>
                    </div>
                    <div class="am-form-group">
                        <label for="powerUrl">url地址：</label>
                        <input type="text" id="powerUrl" minlength="3"
                               placeholder="输入用户名（至少 3 个字符）" required/>
                    </div>
                    <button class="am-btn am-btn-secondary js-after-power-submit" type="button">提交</button>
                    <button class="am-btn js-modal-close" type="button">关闭</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<!--底部js引入-->
<footer th:insert="~{utils::bottom_js}"></footer>
<script>
    $(function() {
        var $modal = $('#my-add-after-power');
        var clickTr;
        /**重置密码*/
        $(".js-modal-open").click(function(){
            clickTr = this;
            let afterPowerId = $(this).val();
            let authority = $(this).parents("tr").children("td.table-authority").html();
            let powerUrl = $(this).parents("tr").children("td.table-powerUrl").html();
            $("#afterPowerId").val(afterPowerId);
            $("#authority").val(authority);
            $("#powerUrl").val(powerUrl);
            $modal.modal();
        });

        $modal.find('.am-btn').on('click', function(e) {
            var $target = $(e.target);
            if (($target).hasClass('js-modal-close')) {
                //关闭添加窗口
                $("#afterPowerId").val('');
                $("#powerUrl").val('');
                $("#authority").val('');
                $modal.modal('close');
            }else if(($target).hasClass('js-after-power-submit')){
                let afterPowerId = $("#afterPowerId").val();
                let authority = $("#authority").val();
                let powerUrl = $("#powerUrl").val();
                $.post("/after/updateAfterPower",{
                    afterPowerId:afterPowerId,
                    authority:authority,
                    powerUrl:powerUrl
                },function(data){
                    if(data.success){
                        $(clickTr).parents("tr").children("td.table-authority").html(authority);
                        $(clickTr).parents("tr").children("td.table-powerUrl").html(powerUrl);
                        $("#afterPowerId").val('');
                        $("#powerUrl").val('');
                        $("#authority").val('');
                        $modal.modal('close');
                    }else{
                        myAlert(data.error);
                    }
                });
            }
        });

    });
</script>
</body>
</html>