<!doctype html>
<html class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{utils::admin_head}">
</head>
<body>
<!-- 头部功能部分 start-->
<header th:insert="~{utils::admin_header}" >
</header>
<!-- 头部功能部分 end-->

<div class="am-cf admin-main">
    <!-- 导航栏公共部分 start -->
    <div th:insert="~{utils::navigation_bar}"></div>
    <!-- 导航栏公共部分 end -->
    <!-- 内容部分 -->
    <div class="admin-content">
        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">权限管理</strong> / <small>岗位管理</small></div>
        </div>

        <div class="am-g">
            <div class="am-u-sm-12 am-u-md-3 am-form-group am-btn-toolbar">
                <div class="am-btn-group am-btn-group-xs">
                    <button type="button" class="am-btn am-btn-default js-add-after-ability"><span class="am-icon-plus"></span> 新增</button>
                    <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 禁用</button>
                </div>
            </div>
            <form th:action="@{/after/afterAbility}" th:method="post">
                <input th:name="pageNum" th:id="pageNum" th:value="${pageContent.pageNum}" type="hidden" >
                <input th:name="pageSize" th:id="pageSize" th:value="${pageContent.pageSize}" type="hidden" >
                <div class="am-u-sm-12 am-u-md-3 am-form-group">
                    <div class="am-u-sm-4 am-u-md-3">
                        岗位名称
                    </div>
                    <div class="am-input-group am-input-group-sm">
                        <input type="text" th:name="abilityName" class="am-form-field" th:value="${afterAbilityDto.abilityName}">
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-3 am-form-group" >
                    <div class="am-u-sm-4 am-u-md-3">
                        是否有效
                    </div>
                    <div class="am-input-group am-input-group-sm">
                        <select th:name="abilityEffective" data-am-selected="{btnSize: 'sm',maxHeight: 250}">
                            <option value=" " th:selected="${afterAbilityDto.abilityEffective==null}">全部</option>
                            <option value="false" th:selected="${afterAbilityDto.abilityEffective!=null && !afterAbilityDto.abilityEffective}">有效</option>
                            <option value="true" th:selected="${afterAbilityDto.abilityEffective!=null && afterAbilityDto.abilityEffective}">无效</option>
                        </select>
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-3">
                    <div class="am-input-group am-input-group-sm">
                        <button class="am-btn am-btn-default" type="submit">搜索</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="am-g">
            <div class="am-u-sm-12">
                <table class="am-table am-table-striped am-table-hover table-main am-text-nowrap">
                    <thead>
                    <tr>
                        <th class="table-check"></th>
                        <th class="table-abilityName">岗位名称</th>
                        <th class="table-abilityEffective">是否有效</th>
                        <th class="table-abilityEffective">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each ="afterAbility : ${pageContent.list}" class="table-click">
                        <td><input type="radio" th:name="afterAbilityId" th:value="${afterAbility.id}"/></td>
                        <td class="table-abilityName" th:text="${afterAbility.abilityName}">岗位名称</td>
                        <td class="table-abilityEffective" th:text="${afterAbility.abilityEffective?'否':'是'}">是否有效</td>
                        <td>
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-default am-btn-xs am-text-secondary js-modal-open" th:value="${afterAbility.id}"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                    <button class="am-btn am-btn-default am-btn-xs am-text-danger js-update-after-power" th:value="${afterAbility.id}"><span class="am-icon-group"></span> 权限</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <footer th:insert="~{utils::page_html}"></footer>
                <hr/>
            </div>
        </div>
    </div>
    <!-- content end -->
</div>

<div class="am-popup" id="after-ability-power">
    <div class="am-popup-inner">
        <div class="am-popup-hd">
            <h4 class="am-popup-title">添加帐号</h4>
            <span data-am-modal-close class="am-close">&times;</span>
        </div>
        <div class="am-popup-bd">
            <form action="" class="am-form">
                <fieldset>
                    <input type="hidden" th:id="afterAbilityId">
                    <div class="am-form-group" id="after-power-ajax" th:fragment="afterPowerAjax">
                        <label class="am-checkbox" th:each ="afterPower : ${allAfterPower}" >
                            <input type="checkbox" th:name="afterPowerIds" th:value="${afterPower.id}" data-am-ucheck th:checked="${afterPower.abilityChecked}">[[${afterPower.authority}]]/[[${afterPower.powerAlias}]]
                        </label>
                    </div>
                    <button class="am-btn am-btn-secondary js-after-power-ajax-submit" type="button">提交</button>
                    <button class="am-btn js-modal-close" type="button">关闭</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<!--底部js引入-->
<footer th:insert="~{utils::bottom_js}"></footer>
<script>
    $(function() {
        const $abilityPowerModal = $('#after-ability-power');
        $abilityPowerModal.find('.am-btn').on('click', function(e) {
            const $target = $(e.target);
            if (($target).hasClass('js-modal-close')) {
                $abilityPowerModal.modal('close');
            }else if(($target).hasClass('js-after-power-ajax-submit')){
                let $afterPowerIds ={};
                let i = 0;
                $('input[name="afterPowerIds"]:checked').each(function(){
                    $afterPowerIds[i]= $(this).val();
                    i++;
                });
                $.post("/after/updateAfterAbilityPower",{
                    afterAbilityId:$("#afterAbilityId").val(),
                    afterPowerIds:$afterPowerIds
                },function(data){
                    if(data.success){
                        myAlert(data.ok);
                        $abilityPowerModal.modal('close');
                    }else{
                        myAlert(data.error);
                    }
                });
            }
        });
        /**修改岗位权限*/
        $(".js-update-after-power").click(function(){
            $("#afterAbilityId").val($(this).val());
            $abilityPowerModal.modal();
            //异步请求数据
            $("#after-power-ajax").load("/after/allAfterPower/"+$(this).val());
        });

        /**修改岗位名称*/
        $(".js-modal-open").click(function(){
            const $afterAbilityId = $(this).val();
            myPrompt("修改岗位名称",function($abilityName){
                $.post("/after/updateAfterAbilityNameById",{
                    afterAbilityId:$afterAbilityId,
                    abilityName:$abilityName
                },function(data){
                    if(data.success){
                        myAlert(data.ok);
                        location.reload();
                    }else{
                        myAlert(data.error);
                    }
                });
            })
        });

        /**添加岗位*/
        $(".js-add-after-ability").click(function(){
            myPrompt("请输入新的岗位名称",function($abilityName){
                $.post("/after/addAfterAbility",{
                    abilityName:$abilityName
                },function(data){
                    if(data.success){
                        myAlert(data.ok);
                        location.reload();
                    }else{
                        myAlert(data.error);
                    }
                });
            })
        });
    });
</script>
</body>
</html>