<!doctype html>
<html class="no-js"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{utils::admin_head}">
</head>
<body>
<!-- 头部功能部分 start-->
<header th:insert="~{utils::admin_header}" >
</header>
<!-- 头部功能部分 end-->

<div class="am-cf admin-main">
    <!-- 导航栏公共部分 start -->
    <div th:insert="~{utils::navigation_bar}"></div>
    <!-- 导航栏公共部分 end -->
    <!-- 内容部分 -->
    <div class="admin-content">
        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><a class="am-text-primary am-text-lg"  href="#" th:onclick="returnUrl()">跟进客户</a> / <small>客户外访明细</small></div>
        </div>
        <div class="am-g">
            <div class="am-u-sm-12">
                <section data-am-widget="accordion" class="am-accordion am-accordion-basic" data-am-accordion='{  }'>
                    <dl class="am-accordion-item" th:each="outVisitRecordVo : ${outVisitRecordList}">
                        <dt class="am-accordion-title">
                            <span th:switch="${outVisitRecordVo.addressType}">
                                <span th:case="0">现居住地址</span>
                                <span th:case="1">房产地址</span>
                                <span th:case="2">单位地址</span>
                                <span th:case="3">经营地址</span>
                                <span th:case="4">配偶单位地址</span>
                                <span th:case="5">家庭地址</span>
                                <span th:case="6">户籍地址</span>
                                <span th:case="7">其他</span>
                                <span th:case="*"></span>
                            </span>
                            <span th:text="${outVisitRecordVo.detailedAddress}"></span>
                            <span th:text="${outVisitRecordVo.unitname}"></span>
                        </dt>
                        <dd class="am-accordion-bd am-collapse">
                            <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
                            <div class="am-accordion-content">
                                <table class="am-table am-table-striped am-table-hover table-main">
                                    <thead>
                                    <tr>
                                        <th>外访时间</th>
                                        <th>外访人</th>
                                        <th>外访内容</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="table-click" th:each="outVisitDetail : ${outVisitRecordVo.list}">
                                        <td th:text="${#dates.format(outVisitDetail.visitDate, 'yyyy-MM-dd HH:mm:ss')}" class="am-text-nowrap">外访时间</td>
                                        <td th:text="${T(com.small.constant.RedisUtilsData).getUserName(outVisitDetail.visitId)}" class="am-text-nowrap">外访人</td>
                                        <td th:text="${outVisitDetail.visitContent}">外访内容</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </dd>
                    </dl>
                </section>
                <hr/>
            </div>
        </div>
    </div>
    <!-- content end -->
</div>
<!--底部js引入-->
<footer th:insert="~{utils::bottom_js}"/>
<script th:inline="javascript">
    var $loanType = [[${loanType}]];
    var $projectId = [[${projectId}]];

    /**返回跟进*/
    function returnUrl(){
        if($projectId){
            postSubmit("/loan/loanCustomerDetails/"+$loanType,{projectId:$projectId,typeContent:'outVisit'});
        }
    }
</script>
</body>
</html>