<!doctype html>
<html class="no-js"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{utils::admin_head}">
</head>
<body>
<!-- 头部功能部分 start-->
<header th:insert="~{utils::admin_header}" >
</header>
<!-- 头部功能部分 end-->

<div class="am-cf admin-main">
    <!-- 导航栏公共部分 start -->
    <div th:insert="~{utils::navigation_bar}"></div>
    <!-- 导航栏公共部分 end -->
    <!-- 内容部分 -->
    <div class="admin-content">
        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><a class="am-text-primary am-text-lg"  href="#" th:onclick="returnUrl()">跟进客户</a> / <small>客户电催明细</small></div>
        </div>
        <div class="am-g">
            <div class="am-u-sm-12">
                <section data-am-widget="accordion" class="am-accordion am-accordion-basic" data-am-accordion='{  }'>
                    <dl class="am-accordion-item" th:each="personPhonecheck : ${personPhonecheckList}">
                        <dt class="am-accordion-title">
                            <span th:text="${T(com.small.constant.RedisUtilsData).getDictionaryItemValue(personPhonecheck.relationship)}"></span>
                            <span th:text="${personPhonecheck.relationname}"></span>
                            <span th:switch="${personPhonecheck.phonetype}">
                                <span th:case="1">手机</span>
                                <span th:case="2">家庭</span>
                                <span th:case="3">单位</span>
                                <span th:case="4">单位</span>
                                <span th:case="*"></span>
                            </span>
                        </dt>
                        <dd class="am-accordion-bd am-collapse">
                            <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
                            <div class="am-accordion-content">
                                <table class="am-table am-table-striped am-table-hover table-main">
                                    <thead>
                                    <tr>
                                        <th>联系时间</th>
                                        <th>联系人</th>
                                        <th>内容</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="table-click" th:each="phoneUrgeRecord : ${personPhonecheck.list}">
                                        <td class="am-text-nowrap" th:text="${#dates.format(phoneUrgeRecord.contactDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                        <td class="am-text-nowrap" th:text="${T(com.small.constant.RedisUtilsData).getUserName(phoneUrgeRecord.contacterId)}"></td>
                                        <td th:text="${phoneUrgeRecord.contactContent}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </dd>
                    </dl>
                </section>
                <hr/>
            </div>
        </div>
    </div>
    <!-- content end -->
</div>
<!--底部js引入-->
<footer th:insert="~{utils::bottom_js}"/>
<script th:inline="javascript">
    var $loanType = [[${loanType}]];
    var $projectid = [[${projectid}]];

    /**返回跟进*/
    function returnUrl(){
        if($projectid){
            postSubmit("/loan/loanCustomerDetails/"+$loanType,{projectId:$projectid,typeContent:'outVisit'});
        }
    }
</script>
</body>
</html>