<!doctype html>
<html class="no-js"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{utils::admin_head}">
</head>
<body>
<!-- 头部功能部分 start-->
<header th:insert="~{utils::admin_header}" >
</header>
<!-- 头部功能部分 end-->

<div class="am-cf admin-main">
    <!-- 导航栏公共部分 start -->
    <div th:insert="~{utils::navigation_bar}"></div>
    <!-- 导航栏公共部分 end -->
    <!-- 内容部分 -->
    <div class="admin-content">
        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><a class="am-text-primary am-text-lg"  href="#" th:onclick="returnUrl()">跟进客户</a> / <small>客户电催详情</small></div>
        </div>
        <div class="am-g">
            <form th:action="@{/pur/editPersonPhonecheck/{loanType}(loanType=${loanType})}" th:method="post" th:id="editPersonPhonecheckForm">
                <input th:name="pageNum" th:id="pageNum" th:value="${pageContent.pageNum}" type="hidden" >
                <input th:name="pageSize" th:id="pageSize" th:value="${pageContent.pageSize}" type="hidden" >
                <input type="hidden" th:name="personPhonecheckId" th:id="personPhonecheckId" th:value="${personPhonecheck.id}">
                <input type="hidden" th:name="personRelationId" th:id="personRelationId" th:value="${personPhonecheck.personrelationid}">
                <input type="hidden" th:name="personid" th:id="personid" th:value="${personPhonecheck.personid}">
                <input type="hidden" th:name="projectid" th:id="projectid" th:value="${personPhonecheck.projectid}">
                <div class="am-u-sm-12 am-u-md-3 am-form-group">
                    <div class="am-u-sm-4 am-u-md-3">
                        关系
                    </div>
                    <div class="am-input-group am-input-group-sm">
                        <input type="text" class="am-form-field" th:value="${T(com.small.constant.RedisUtilsData).getDictionaryItemValue(personPhonecheck.relationship)}" th:if="${personPhonecheck.newsaveflag!=2}" disabled>
                        <select data-am-selected="{btnSize: 'sm',maxHeight: 250}" th:name="relationship" th:id="relationship"  class="am-form-field" th:if="${personPhonecheck.newsaveflag==2}">
                            <option th:each="dictionary : ${T(com.small.constant.RedisUtilsData).getDictionaryItemValueByProTypeId(1104)}"
                                    th:value="${dictionary.dicid}"
                                    th:text="${dictionary.itemvalue}" th:selected="${dictionary.dicid!=null && dictionary.dicid == personPhonecheck.relationship}">分行名称</option>
                        </select>
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-3 am-form-group">
                    <div class="am-u-sm-4 am-u-md-3">
                        姓名
                    </div>
                    <div class="am-input-group am-input-group-sm">
                        <input type="text" th:name="relationname" class="am-form-field" th:value="${personPhonecheck.relationname}" th:disabled="${personPhonecheck.newsaveflag!=2}">
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-3 am-form-group">
                    <div class="am-u-sm-4 am-u-md-3">电话类型</div>
                    <div class="am-input-group am-input-group-sm">
                        <input type="text" class="am-form-field" th:name="phonetype" th:id="phonetype" th:if="${personPhonecheck.newsaveflag!=2}" disabled>
                        <select data-am-selected="{btnSize: 'sm',maxHeight: 250}" th:name="phonetype" th:id="phonetype" th:if="${personPhonecheck.newsaveflag==2}">
                            <option value="1">手机</option>
                            <option value="2">家庭</option>
                            <option value="3">单位</option>
                        </select>
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-3 am-form-group">
                    <div class="am-u-sm-4 am-u-md-3">
                        电话号码
                    </div>
                    <div class="am-input-group am-input-group-sm">
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-3 am-form-group">
                    <div class="am-u-sm-4 am-u-md-3">
                        来源
                    </div>
                    <div class="am-input-group am-input-group-sm">
                        <input type="text" th:name="source" class="am-form-field" th:value="${personPhonecheck.source}" th:disabled="${personPhonecheck.newsaveflag!=2}">
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-3">
                    <button class="am-btn am-btn-default" type="button" th:onclick="addPhoneUrgeRecord()"><span class="am-icon-plus"></span>新增</button>
                    <button class="am-btn am-btn-default" type="button" th:if="${personPhonecheck.newsaveflag==2}" th:onclick="savePersonPhonecheck()">保存</button>
                </div>
            </form>
        </div>
        <div class="am-g">
            <div class="am-u-sm-12">
                <table class="am-table am-table-striped am-table-hover table-main">
                    <thead>
                    <tr>
                        <th>联系时间</th>
                        <th>联系人</th>
                        <th>联系内容</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-click" th:each="phoneUrgeRecord : ${pageContent.list}">
                        <td th:text="${#dates.format(phoneUrgeRecord.contactDate, 'yyyy-MM-dd HH:mm:ss')}" class="am-text-nowrap">联系时间</td>
                        <td th:text="${T(com.small.constant.RedisUtilsData).getUserName(phoneUrgeRecord.contacterId)}" class="am-text-nowrap">联系人</td>
                        <td th:text="${phoneUrgeRecord.contactContent}">联系内容</td>
                    </tr>
                    </tbody>
                </table>
                <footer th:insert="~{utils::page_html}"></footer>
                <hr/>
            </div>
        </div>
    </div>
    <div class="am-modal am-modal-prompt" tabindex="-1" id="phone_urge_record_phone_text">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">添加电催内容</div>
            <div class="am-modal-bd">
                <div class="am-g am-margin-top-sm">
                    <textarea rows="4" placeholder="电催内容" style="width: 100%" class="am-modal-prompt-input"></textarea>
                </div>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-confirm>提交</span>
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            </div>
        </div>
    </div>
    <!-- content end -->
</div>
<!--底部js引入-->
<footer th:insert="~{utils::bottom_js}"/>
<script th:inline="javascript">
    var $loanType = [[${loanType}]];

    $(function() {
        var $phonetype = [[${personPhonecheck.phonetype}]];
        if([[${personPhonecheck.newsaveflag==2}]]){
            /**默认给下拉框初始值*/
            getSelected($('#phonetype'),$phonetype);
        }else{
            switch ($phonetype){
                case 1:
                    $('#phonetype').val('手机');
                    break;
                case 2:
                    $('#phonetype').val('家庭');
                    break;
                case 3:
                case 4:
                    $('#phonetype').val('单位');
                    break;
            }
        }
    });

    /**保存数据*/
    function savePersonPhonecheck(){
        $.post("/pur/savePersonPhonecheck/"+$loanType,
            $("#editPersonPhonecheckForm").serialize(),
            function(result){
                if(result && result.hasOwnProperty("success")){
                    if(result.success){
                        $("#personPhonecheckId").val(result.data);
                        myAlert(result.ok);
                    }else{
                        myAlert(result.error);
                    }
                }else{
                    myAlert("保存异常，请重新尝试添加！");
                }
            });
    }

    /**
     * 添加电催内容
     */
    function addPhoneUrgeRecord(){
        var $personPhonecheckId = $("#personPhonecheckId").val();
        var $projectid = $("#projectid").val();
        if($personPhonecheckId){
            $('#phone_urge_record_phone_text').modal({
                relatedTarget: this,
                onConfirm: function(e) {
                    $.post("/pur/addPhoneUrgeRecord/"+$loanType,
                        {personPhonecheckId:$personPhonecheckId,
                            projectid:$projectid,
                            contactContent:e.data},
                        function(result){
                            if(result && result.hasOwnProperty("success")){
                                if(result.success){
                                    postSubmit("/pur/editPersonPhonecheck/"+$loanType,{personPhonecheckId:$personPhonecheckId});
                                }else{
                                    myAlert(result.error);
                                }
                            }else{
                                myAlert("添加异常，请重新尝试添加！");
                            }
                    });
                }
            });
        }else{
         myAlert("请先添加联系人后在添加评论");
        }
    }

    /**返回跟进*/
    function returnUrl(){
        var $projectid = $("#projectid").val();
        if($projectid){
            postSubmit("/loan/loanCustomerDetails/"+$loanType,{projectId:$projectid,typeContent:'outVisit'});
        }
    }
</script>
</body>
</html>