<!doctype html>
<html class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{utils::admin_head}">
</head>
<body>
<!-- 头部功能部分 start-->
<header th:insert="~{utils::admin_header}" >
</header>
<!-- 头部功能部分 end-->

<div class="am-cf admin-main">
    <!-- 导航栏公共部分 start -->
    <div th:insert="~{utils::navigation_bar}"></div>
    <!-- 导航栏公共部分 end -->
    <!-- 内容部分 -->
    <div class="admin-content">
        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">贷后管理</strong> / <small>还款提醒</small></div>
        </div>

        <div class="am-g">
            <form th:action="@{/ri/remind}" th:method="post">
                <input th:name="pageNum" th:id="pageNum" th:value="${pageContent.pageNum}" type="hidden" >
                <input th:name="pageSize" th:id="pageSize" th:value="${pageContent.pageSize}" type="hidden" >
                <footer th:insert="~{utils::organizing_html}"></footer>
                <div class="am-u-sm-12 am-u-md-3 am-form-group">
                    <div class="am-u-sm-4 am-u-md-3">
                        客户姓名
                    </div>
                    <div class="am-input-group am-input-group-sm">
                        <input type="text" th:name="personName" class="am-form-field" th:value="${remindDto.personName}">
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-3 am-form-group">
                    <div class="am-u-sm-4 am-u-md-3">
                        起止时间
                    </div>
                    <div class="am-input-group am-input-group-sm">
                        <input type="text" class="am-form-field" placeholder="起止时间" th:name="startDate" th:value="${remindDto.startDate}" data-am-datepicker readonly required />
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-3 am-form-group">
                    <div class="am-u-sm-4 am-u-md-3">
                        逾期范围
                    </div>
                    <div class="am-input-group am-input-group-sm">
                        <input type="text" th:name="overdueDay" class="am-form-field" th:value="${remindDto.overdueDay}">
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-3">
                    <div class="am-input-group am-input-group-sm">
                        <button class="am-btn am-btn-default" type="submit">搜索</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="am-g">
        <div class="am-u-sm-12">
            <div data-am-widget="list_news" class="am-list-news am-list-news-default" >
                <div class="am-list-news-bd">
                    <ul class="am-list">
                        <li class="am-g am-list-item-dated">
                            <div class="am-list-main">
                                <div class="am-list-item-text">
                                    <b>所属分行</b>
                                    <b>计划还款日期</b>
                                    <b>客户姓名</b>
                                    <b>期数</b>
                                    <b style="color: #a4241f">本月还款金额</b>
                                </div>
                                <div class="am-list-item-text">
                                    <b>性别</b>
                                    <b>维护人</b>
                                    <b style="color: #0bb59b">逾期天数</b>
                                    <b style="color: #ea1328">展期金额</b>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="am-list am-list-static am-list-border am-list-striped">
                        <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left" th:each="remindVo : ${pageContent.list}">
                            <div class="am-list-item-text">
                                <span th:text="${remindVo.departmentName}"></span>
                                <span th:text="${#dates.format(remindVo.planRepayDate, 'yyyy-MM-dd')}"></span>
                                <span th:text="${remindVo.customerName}"></span>
                                <span th:text="${remindVo.issue}"></span>
                                <span th:text="${remindVo.monthlyRepayment}" style="color: #a4241f"></span>
                            </div>
                            <div class="am-list-item-text">
                                <span th:text="${remindVo.sex}"></span>
                                <span th:text="${T(com.small.constant.RedisUtilsData).getUserName(remindVo.maintenanceId)}"></span>
                                <span th:text="${remindVo.overdueDay}" style="color: #0bb59b"></span>
                                <span th:text="${remindVo.repaymentAmount}" style="color: #ea1328"></span>
                                <i class="am-icon-phone am-icon-sm"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <footer th:insert="~{utils::page_html}"></footer>
            <hr/>
        </div>
        </div>
    </div>
    <!-- content end -->
</div>
<!--底部js引入-->
<footer th:insert="~{utils::bottom_js}"/>
<script>
    /**给这个页面添加选中点击表格的名称为projectId的单选*/
    $('body').on('click', '.table-click', function () {
        $(this).find("input[name='projectId']").prop("checked",true);
    });
    /**
     * 查看签约界面
     */
    function view_signing(){
        myAlert("技术人员紧急开发中，敬请期待！")
    }

</script>
</body>
</html>